@charset "utf-8";

a {
	color: inherit;
}

p {
	margin: 0;
	padding: 0;
}

#postHeader {
	margin-bottom: 10px;
}

#postHeader div {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

#date, #authorName {
	padding: 0px; margin:0px;
}

#authorName {
	max-width: 220px;
}

#text, #repostText {
	text-overflow: ellipsis;
	line-height: 1.5em;
	max-height: 6em;
	overflow: hidden;
	margin-bottom: 10px;
}

#repostData {
	display: none;
}

#repostData img {
	display: inline;
	vertical-align: sub;
}

#repostData div {
	margin-bottom: 10px;
}

#repostAuthorName {
	display: inline;
	margin-left: 5px;
}

#photoAtts div {
	padding: 0;
	border: 1px solid white;
	height: 400px;
	background-position:center;
	background-size:cover;
}