@charset "utf-8";

body, html {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

#helpButton {
	position: absolute;
	display: block;
	z-index: 5;
	right: 15px;
	top: 15px;
	font-size: 22px;
}

#login a img {
	vertical-align: top;
}

#loadingSplash, #idSplash, #friendsSplash {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#idSplash {
	z-index: 2;
}

#loadingSplash {
	z-index: 6;
}

#friendsSplash {
	display: none;
	z-index: 4;
	width: 100%;
}

#friendsSplash .white {
	min-height: 100%;
}

#friendsSplash .container {
	padding: 20px;
	max-width: 620px;
}

#idSplash .valign {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

#idSplash form p {
	margin: 0;
}

#buttonFriends {
	margin-bottom: 15px;
}

#friendsList li {
	min-height: 65px !important;
}

#friendsList a {
	color: inherit;
}

#getUserProgress {
	display: none;
}

#toast-container {
	top: auto !important;
	right: auto !important;
	left: auto !important;
	bottom: 10%;
	width: 100%;
	max-width: 300px;
}

#loadingSplash .preloader-wrapper {
	margin: 0 auto;
}

#fixedScanState {
	top: -55px;
	position: fixed;
	width: 100%;
	max-height: 50px;
	z-index: 3;
	-webkit-transition: top 0.3s ease-out;
	transition: top 0.3s ease-out;
}

.scanState-visible  {
	top: 0px !important;
}

#scanParams {
	width: 100%;
	padding: 20px 0px 10px 0px;
	/*box-shadow: 0 1px 4px rgba(0,0,0,0.08);*/
	margin-bottom: 20px;
}

#userPhoto {
	display: block;
	width: 100%;
	max-width: 150px;
	margin: 0 auto;
}

#userCounters p {
	display: inline-block;
	margin: 15px 15px 0px 15px;
}

#toggleScanButton {
	margin-bottom: 10px;
}

#scanTopState {
	display: none;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: 40px;
}

label {
	font-size: 14px !important;
	line-height: 16px !important;
}

#foundPosts {
	width: 100%;
	max-width: 620px;
}

#pagesList {
	height: auto;
	padding: 10px;
	border: 1px solid black;
	outline: none;
}

@media print {
	#fixedScanState {
		display: none;
	}
}