<template>
	<style>
		@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css";
		@import "css/post-style.css"		
	</style>
	
	<div class="card-panel">
		<a id="postUrl" target="_blank">
			<span style="display:block">
				<div id="postHeader">
					<img id="authorPhoto" class="circle" />
					<div>
						<p id="authorName" class="truncate"></p>
						<label id="date"></label>
					</div>
				</div>
				<p id="text"></p>
				<div id="repostData">
					<div>
						<img src="img/icons/repost.png" /><p id="repostAuthorName"></p>
					</div>
					<p id="repostText"></p>
				</div>
				<div id="photoAtts">
				</div>
				<div id="attsCount">
				</div>
			</span>
		</a>
	</div>
</template>

<script>
	(function(window, document) {
		var ownerDocument =  (document._currentScript || document.currentScript).ownerDocument;
		var template = ownerDocument.querySelector("template").content;
		var elementPrototype = Object.create(HTMLElement.prototype);
		
		var image, name, area, length, rating;
		
		elementPrototype.createdCallback = function() {
			var shadowRoot = this.createShadowRoot();
			var clone = document.importNode(template, true);
			shadowRoot.appendChild(clone);
			
			this.authorPhoto = shadowRoot.querySelector("#authorPhoto");
			this.authorName = shadowRoot.querySelector("#authorName");
			this.date = shadowRoot.querySelector("#date");
			this.text = shadowRoot.querySelector("#text");
			this.repostData = shadowRoot.querySelector("#repostData");
			this.repostText = shadowRoot.querySelector("#repostText");
			this.repostAuthorName = shadowRoot.querySelector("#repostAuthorName");
			this.photoAtts = shadowRoot.querySelector("#photoAtts");
			this.attsCount = shadowRoot.querySelector("#attsCount");
			this.postUrl = shadowRoot.querySelector("#postUrl");
		};
		
		elementPrototype.attachedCallback = function() { this.init(); };

		elementPrototype.init = function(){
			let postType = this.getAttribute("type");

			if (postType == "sponsored") {
				let content = JSON.parse(this.getAttribute("sponsored-content"));
				this.postUrl.href = content.url;
				this.authorName.innerHTML  = content.title;
				this.authorPhoto.src = content.icon;
				this.text.innerHTML = content.text;
				this.text.style.maxHeight = 'none';
				this.date.innerHTML = "Реклама";

				let photoImg = document.createElement("img");
				photoImg.setAttribute("class", "responsive-img");
				photoImg.setAttribute("src", content.image);
				this.photoAtts.appendChild(photoImg);

				return;
			}

			let author = JSON.parse(this.getAttribute("author"));
			this.authorName.innerHTML  = author.name;
			this.authorPhoto.src = author.photo;
			
			this.postUrl.href = this.getAttribute("url");
			
			let date = new Date(parseInt(this.getAttribute("date")) * 1000);
			let dateOptions = {
				month: "long",
				day: "numeric",
				hour: "numeric",
				minute: "numeric"
			};
			let dateString = date.toLocaleString("ru", dateOptions);
			this.date.innerHTML = ((postType == "photo") ? "Фото. " : "") + dateString;
			
			let postText = this.getAttribute("post-text");
			if (postText) {
				this.text.innerHTML = postText;
			} else {
				this.text.style.display = "none"; 
			}
			
			if (this.getAttribute("is-repost")) {
				this.repostData.style.display = "block";
				let repostTextAttr = this.getAttribute("repost-text");
				if (repostTextAttr) {
					this.repostText.innerHTML = repostTextAttr;
				} else {
					this.repostText.style.display = "none"; 
				}
				this.repostAuthorName.innerHTML = this.getAttribute("repost-author-name");
			}
			
			let attsAttr = this.getAttribute("atts");
			let atts = (attsAttr) ? JSON.parse(attsAttr) : [];
			let photos = [];
			for (i = 0; i < atts.length; i++) {
				if (atts[i].type == "photo") {
					photos[photos.length] = atts[i].photo;
				}
			}
			if (photos.length > 0) {
				makePhotosPreview(photos, this.photoAtts, this.attsCount);
			}
			
			if (atts.length > photos.length) {
				let otherAttsCout = document.createElement("div");
				otherAttsCout.setAttribute("class", "chip");
				otherAttsCout.innerHTML = "Вложения: " + (atts.length - photos.length);
				this.attsCount.appendChild(otherAttsCout);
			}
		};
		
		var makePhotosPreview = function(photos, container, attsCount) {
			let colClass = (photos.length > 1) ? "col s6" : "col s12";
			let photosRow = document.createElement("div");
			photosRow.setAttribute("class", "row");
			
			for (i = 0; (i < photos.length && i < 2); i++) {
				let photoImg = document.createElement("div");
				photoImg.setAttribute("class", colClass);
				photoImg.style.backgroundImage = 'url("' + photos[i].photo_604 + '")';
				photosRow.appendChild(photoImg);
			}
			
			container.appendChild(photosRow);
			
			if (photos.length > 2) {
				let photosCount = document.createElement("div");
				photosCount.setAttribute("class", "chip");
				photosCount.innerHTML = "Фото: " + photos.length;
				attsCount.appendChild(photosCount);
			}
		};
		
		window.PostCard = document.registerElement("post-card", {prototype: elementPrototype });
	})(window, document);
</script>